// color
$pri: #e13227;
$sec: #eab000;
$ter: #19c792;
$for: #34a5ad;
$fiv: #0055a2;
$t: #1e1e1e;
$bl: #000;
$wt: #fff;

// font
$r: 'Karla', sans-serif;
$b: 'Dela Gothic One', sans-serif;
$m: 'Myriad Pro', sans-serif;
$j: 'Plus Jakarta Sans', sans-serif;
