.portfolio-wrap {
  padding: 70px 0;
  background-color: #1e1e1e;
  @media screen and (max-width: 991px) {
    padding: 40px 0;
  }
  h3 {
    font-size: 43px;
    font-family: $b;
    color: $sec;
    margin-bottom: 40px;
    font-weight: normal;
    text-align: center;
    @media screen and (max-width: 991px) {
      font-size: 33px;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 599px) {
      font-size: 26px;
    }
  }
  .v-carousel {
    height: calc(100vh - 167px) !important;
    @media screen and (max-width: 991px) {
      height: 500px !important;
    }
    @media screen and (max-width: 767px) {
      height: 350px !important;
    }
    .v-carousel__item {
      text-align: center;
      align-items: flex-end;
      height: 100% !important;
      .wrap {
        background-color: rgba($color: #000000, $alpha: 0.6);
        padding: 20px 20px 50px 20px;
        @media screen and (max-width: 767px) {
          padding: 10px 10px 50px 10px;
        }
        h4 {
          font-size: 32px;
          font-family: $b;
          color: #fff;
          margin-bottom: 0px;
          @media screen and (max-width: 991px) {
            font-size: 26px;
            margin-bottom: 5px;
          }
          @media screen and (max-width: 767px) {
            font-size: 20px;
            margin-bottom: 0px;
          }
        }
        p {
          font-size: 18px;
          color: #fff;
          margin: 0 auto;
          line-height: 1.5;
          width: 80%;
          @media screen and (max-width: 991px) {
            font-size: 16px;
            width: 100%;
          }
          @media screen and (max-width: 767px) {
            font-size: 14px;
          }
        }
      }
    }
    .v-carousel__controls {
      background-color: transparent;
    }
  }
}
