.service-head-new{
  padding: 140px 0;
  @media screen and (max-width: 991px) {
    padding: 30px 0;
    text-align: center;
  }
  .image-circle{
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-color: #2d47c9;
    background-size: contain;
    background-position: center center;
    @media screen and (max-width: 991px) {
      width: 280px;
      height: 280px;
      margin: 0 auto;
    }
    &.cd{
      background-color: #eb6619;
    }
    &.hr{
      background-color: #dfb933;
    }
    &.ft{
      background-color: #19c792;
    }
    &.fp{
      background-color: #8f94f8;
    }
  }
  p{
    font-size: 16px;
    color: #1e1e1e;
    margin-bottom: 20px;
    @media screen and (max-width: 991px) {
      font-size: 14px;
    }
  }
}

.title-service{
  font-family: $j;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #1e1e1e;
  @media screen and (max-width: 991px) {
    margin-bottom: 15px;
    font-size: 26px;
  }
}

.service-business{
  padding: 60px 0;
  position: relative;
  @media screen and (max-width: 991px) {
    padding: 30px 0;
  }
  &::before{
    content: "";
    width: 100%;
    height: 900px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    background-image: linear-gradient(to bottom, #2d47c9, #173c8f);
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    @media screen and (max-width: 599px) {
      border-bottom-left-radius: 0%;
      border-bottom-right-radius: 0%;
    }
  }
  .image-circle{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #1e1e1e;
    background-size: contain;
    background-position: center center;
    @media screen and (max-width: 991px) {
      width: 160px;
      height: 160px;
    }
  }
  .title-service{
    position: relative;
    z-index: 2;
    color: #FFF;
  }
  .business-item{
    position: relative;
    z-index: 2;
    padding: 10px 30px;
    border-radius: 25px;
    transition: all 0.3s ease;
    background-color: #969696;
    @media screen and (max-width: 991px) {
      padding: 10px 20px;
    }
    h4{
      font-size: 24px;
      color: #FFF;
      margin-bottom: 0;
      font-family: $j;
      font-weight: normal;
      @media screen and (max-width: 991px) {
        font-size: 18px;
      }
    }
    p{
      font-size: 18px;
      color: #1e1e1e;
      display: none;
      margin-bottom: 0;
      @media screen and (max-width: 991px) {
        font-size: 16px;
      }
    }
    &.active{
      background-color: #FFF;
      padding: 30px;
      h4{
        color: #1e1e1e;
        margin-bottom: 15px;
      }
      p{
        display: block;
      }
    }
    &:hover, &:focus{
      cursor: pointer;
    }
    & + .business-item{
      margin-top: 10px;
    }
  }
  .service-item{
    border-radius: 25px;
    padding: 35px;
    margin-bottom: 20px;
    box-shadow: 0 5px 30px rgba($color: #000000, $alpha: 0.15);
    position: relative;
    z-index: 2;
    background-color: #FFF;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: 991px) {
      padding: 20px;
    }
    .image-circle{
      background-color: #2d47c9;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 0 0 10px 0;
    }
    h6{
      font-family: $j;
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 10px;
      color: #1e1e1e;
    }
    ul{
      margin-bottom: 0;
      li{
        color: #1e1e1e;
        font-size: 16px;
      }
    }
  }
  &.cd{
    &::before{
      background-image: linear-gradient(to bottom, #eb6619, #eba219);
    }
    .service-item{
      .image-circle{
        background-color: #eb6619;
      }
    }
  }
  &.hr{
    &::before{
      background-image: linear-gradient(to bottom, #dfb933, #db8f3b);
    }
    .service-item{
      .image-circle{
        background-color: #dfb933;
      }
    }
  }
  &.ft{
    &::before{
      background-image: linear-gradient(to bottom, #19c792, #34a5ad);
    }
    .service-item{
      .image-circle{
        background-color: #19c792;
      }
    }
  }
  &.fp{
    &::before{
      background-image: linear-gradient(to bottom, #8f94f8, #3b43d9);
    }
    .service-item{
      .image-circle{
        background-color: #8f94f8;
      }
    }
  }
}

.subscribe{
  padding: 60px 0;
  @media screen and (max-width: 991px) {
    padding: 20px 0;
  }
  .subscribe-item{
    padding-left: 75px;
    margin-bottom: 30px;
    position: relative;
    .image-wrap{
      background-color: #979797;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 5px;
      left: 0;
      width: 55px;
      height: 55px;
      background-position: center center;
      background-size: 36px;
    }
    h5{
      font-family: $j;
      font-size: 20px;
      margin-bottom: 10px;
      color: #1e1e1e;
    }
    p{
      font-size: 16px;
      margin-bottom: 0;
      color: #1e1e1e;
    }
  }
}

.price-new{
  padding: 60px 0;
  background-image: linear-gradient(to bottom, #2d47c9, #173c8f);
  @media screen and (max-width: 991px) {
    padding: 20px 0;
  }
  .subtitle-service{
    color: #FFF;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .price-wrap{
    background-color: #FFF;
    border-radius: 25px;
    overflow: hidden;
    .border-left{
      border-left: 1px solid rgba($color: #1e1e1e, $alpha: 0.5);
    }
    .title{
      height: 150px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      @media screen and (max-width: 991px) {
        height: 120px;
      }
      h5{
        font-family: $j;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0;
        color: #1e1e1e;
        @media screen and (max-width: 991px) {
          font-size: 16px;
        }
      }
      h3{
        font-family: $j;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 0;
        color: #1e1e1e;
        @media screen and (max-width: 991px) {
          font-size: 22px;
        }
      }
      &:after{
        content: "";
        width: calc(100% - 20px);
        position: absolute;
        height: 1px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba($color: #1e1e1e, $alpha: 0.5);
      }
      &.no-border{
        &:after{
          display: none;
        }
      }
    }
    ul{
      margin-top: 20px;
      margin-bottom: 80px;
      display: block;
      padding: 0 15px;
      @media screen and (max-width: 991px) {
        margin-bottom: 30px;
      }
      li{
        list-style: none;
        font-size: 18px;
        margin-bottom: 10px;
        min-height: 30px;
        color: #1e1e1e;
        img{
          display: block;
        }
        &.two-line{
          min-height: 60px;
        }
        &.text-price{
          color: #2d47c9;
        }
      }
      &.scope{
        li{
          font-size: 16px;
          display: flex;
          align-items: center;
        }
      }
    }
    &.solo{
      ul{
        margin-bottom: 40px;
      }
    }
  }
  &.cd{
    background-image: linear-gradient(to bottom, #eb6619, #eba219);
    ul{
      li.text-price{
        color: #eb6619;
      }
    }
  }
  &.hr{
    background-image: linear-gradient(to bottom, #dfb933, #db8f3b);
    ul{
      li.text-price{
        color: #dfb933;
      }
    }
  }
  &.ft{
    background-image: linear-gradient(to bottom, #19c792, #34a5ad);
    ul{
      li.text-price{
        color: #19c792;
      }
    }
  }
  &.fp{
    background-image: linear-gradient(to bottom, #8f94f8, #3b43d9);
    ul{
      li.text-price{
        color: #8f94f8;
      }
    }
  }
}

.contact-new{
  background-color: #1e1e1e;
  padding: 125px 0;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 991px) {
    text-align: center;
    padding: 30px 0 300px 0;
  }
  h3{
    color: #FFF;
    font-weight: normal;
    font-size: 28px;
    font-family: $j;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 991px) {
      width: 50%;
      margin: 0 auto 15px auto;
    }
    @media screen and (max-width: 599px) {
      width: 90%;
    }
  }
  a{
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 18px;
    display: inline-block;
    font-family: $j;
    color: #FFF !important;
    text-decoration: none;
    background-color: #128C7E;
    position: relative;
    z-index: 2;
    img{
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .image-wrap{
    background-color: #eab000;
    width: 540px;
    height: 540px;
    border-radius: 50%;
    position: absolute;
    right: 100px;
    bottom: -150px;
    background-size: contain;
    background-position: center bottom;
    z-index: 1;
    @media screen and (max-width: 1199px) {
      right: 30px;
    }
    @media screen and (max-width: 991px) {
      width: 400px;
      height: 400px;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.other-service{
  padding: 60px 0;
  text-align: center;
  @media screen and (max-width: 991px) {
    padding: 30px 0;
  }
  a{
    display: inline-block;
    margin: 0 10px 15px 10px;
    text-decoration: none;
    border: 1px solid #1e1e1e;
    border-radius: 40px;
    padding: 15px 40px;
    font-size: 18px;
    color: #1e1e1e !important;
    background-color: transparent;
    @media screen and (max-width: 991px) {
      padding: 10px 25px;
    }
    img{
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}