.hero-vb{
  padding: 50px 0;
  @media screen and (max-width: 991px) {
    padding: 20px 0;
  }
  .desc-fly{
    padding-left: 10px;
    border-left: 1px solid rgba($color: #1e1e1e, $alpha: 0.4);
    @media screen and (max-width: 991px) {
      margin-bottom: 15px;
    }
    span{
      color: $pri;
      font-size: 16px;
      display: block;
      margin-bottom: 5px;
    }
    p{
      font-size: 16px;
      display: block; 
      color: #1e1e1e;
      @media screen and (max-width: 991px) {
        margin-bottom: 0px;
      }
    }
    &.first{
      padding-bottom: 60px;
      @media screen and (max-width: 991px) {
        padding-bottom: 0px;
      }
    }
    &.second{
      padding-bottom: 30px;
      @media screen and (max-width: 991px) {
        padding-bottom: 0px;
      }
    }
    &.third{
      padding-top: 30px;
      @media screen and (max-width: 991px) {
        padding-top: 0px;
      }
    }
    &.four{
      padding-top: 70px;
      @media screen and (max-width: 991px) {
        padding-top: 0px;
      }
    }
  } 
  .red-slogan{
    background-color: $pri;
    padding: 25px 70px;
    border-radius: 75px;
    color: #FFF;
    font-size: 27px;
    font-family: $j;
    text-align: center;
    @media screen and (max-width: 991px) {
      margin-bottom: 25px;
      font-size: 22px;
      padding: 25px 30px;
    }
    p{
      font-size: 16px;
      color: #FFF;
      text-align: center;
      margin-bottom: 0;
      @media screen and (max-width: 991px) {
        font-size: 14px;
      }
    }
    .underline{
      text-decoration: underline;
    }
  }
  &.blue-version{
    .desc-fly{
      span{
        color: #09a5a2;
      } 
    }
    .red-slogan{
      background-color: #09a5a2;
    }
  }
}

.vb-for{
  padding: 60px 0;
  position: relative;
  @media screen and (max-width: 991px) {
    padding: 30px 0;
  }
  &::before{
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-size: cover;
    background-position: center center;
    background-image: url('/vb-bg1.png');
    @media screen and (max-width: 991px) {
      width: 100%;
      height: 50%;
      right: 0;
      bottom: auto;
    }
  }
  &::after{
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-size: cover;
    background-position: center center;
    background-image: url('/vb-bg2.png');
    @media screen and (max-width: 991px) {
      width: 100%;
      height: 50%;
      top: auto;
      right: 0;
    }
  }
  h2{
    text-align: center;
    position: relative;
    z-index: 2;
    color: $pri;
    font-family: $j;
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: bold;
    @media screen and (max-width: 991px) {
      font-size: 30px;
      margin-bottom: 15px;
    }
  }
  h4{
    font-size: 36px;
    font-family: $j;
    font-weight: normal;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    color: #1e1e1e;
    @media screen and (max-width: 991px) {
      font-size: 30px;
    }
  }
  h6{
    font-size: 24px;
    font-family: $j;
    font-weight: normal;
    margin-bottom: 25px;
    position: relative;
    z-index: 2;
    color: #1e1e1e;
    @media screen and (max-width: 991px) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
  p{
    font-size: 16px;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    color: #1e1e1e;
    @media screen and (max-width: 991px) {
      font-size: 14px;
    }
  }
  &.blue-version{
    h2{
      color: #09a5a2;
    }
    img{
      filter: invert(41%) sepia(67%) saturate(1668%) hue-rotate(148deg) brightness(94%) contrast(93%);
    }
  }
}

.evo{
  position: relative;
  padding: 90px 0 40px 0;
  @media screen and (max-width: 991px) {
    padding: 25px 0 20px 0;
    background-color: #1e1e1e;
  }
  &::before{
    content: "";
    width: 100%;
    height: 85%;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    background-color: #1e1e1e;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  h2{
    position: relative;
    z-index: 2;
    color: #FFF;
    text-align: center;
    margin-bottom: 90px;
    font-size: 36px;
    font-family: $j;
    font-weight: bold;
    @media screen and (max-width: 991px) {
      font-size: 30px;
      margin-bottom: 40px;
    }
  }
  .timeline{
    position: relative;
    z-index: 2;
    &::before{
      content: "";
      width: 5px;
      position: absolute;
      left: 50%;
      top: -15px;
      transform: translateX(-50%);
      height: 79%;
      background-color: $pri;
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
    &::after{
      content: "";
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: $pri;
      position: absolute;
      top: -45px;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
    .timeline-item{
      padding: 45px;
      position: relative;
      border-radius: 25px;
      background-color: #FFF;
      width: 45%;
      margin-bottom: 140px;
      box-shadow: 0 5px 30px rgba($color: #000000, $alpha: 0.15);
      position: relative;
      @media screen and (max-width: 991px) {
        width: 100%;
        padding: 15px;
        margin-bottom: 30px;
      }
      h6{
        font-size: 24px;
        font-family: $j;
        margin-bottom: 0px;
        font-weight: normal;
        color: #1e1e1e;
        @media screen and (max-width: 991px) {
          font-size: 20px;
        }
      }
      h4{
        font-size: 36px;
        font-family: $j;
        margin-bottom: 20px;
        font-weight: normal;
        color: #1e1e1e;
        @media screen and (max-width: 991px) {
          margin-bottom: 10px;
          font-size: 26px;
        }
      }
      span.red{
        background-color: transparent !important;
        color: $pri;
        display: block;
        font-size: 16px;
        @media screen and (max-width: 991px) {
          font-size: 14px;
        }
      }
      p{
        font-size: 16px;
        margin-bottom: 20px;
        color: #1e1e1e;
        @media screen and (max-width: 991px) {
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
      ul{
        padding-left: 17px;
        margin-bottom: 20px;
        @media screen and (max-width: 991px) {
          margin-bottom: 10px;
        }
        li{
          font-size: 16px;
          color: #1e1e1e;
          @media screen and (max-width: 991px) {
            font-size: 14px;
          }
        }
      }
      &::before{
        content: "";
        width: 45px;
        height: 5px;
        background-color: $pri;
        position: absolute;
        top: 50%;
        right: -9%;
        transform: translateY(-50%);
        @media screen and (max-width: 1199px) {
          right: -11.3%;
        }
        @media screen and (max-width: 991px) {
          display: none;
        }
      }
      &::after{
        content: "";
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $pri;
        position: absolute;
        top: 50%;
        right: -14.5%;
        transform: translateY(-50%);
        @media screen and (max-width: 1199px) {
          right: -15.5%;
        }
        @media screen and (max-width: 991px) {
          display: none;
        }
      }
      &.right{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-bottom: 0;
        @media screen and (max-width: 991px) {
          position: relative;
          top: auto;
          right: auto;
          transform: translateY(0%);
          margin-bottom: 30px;
        }
        @media screen and (max-width: 991px) {
          display: none;
        }
        &::before{
          right: auto;
          left: -9%;
          @media screen and (max-width: 1199px) {
            left: -11.3%;
          }
          @media screen and (max-width: 991px) {
            display: none;
          }
        }
        &::after{
          right: auto;
          left: -14.5%;
          @media screen and (max-width: 1199px) {
            left: -15.5%;
          }
          @media screen and (max-width: 991px) {
            display: none;
          }
        }
      }
    }
    &.five{
      &::before{
        height: 90%;
      }
      .timeline-item{
        &.right{
          &.first{
            top: 30%;
          }
          &.second{
            top: 70%;
          }
        }
      }
    }
  }
  &.blue-version{
    .timeline{
      &::before, &::after{
        background-color: #09a5a2;
      }
      .timeline-item{
        &::before, &::after{
          background-color: #09a5a2;
        }
      }
    }
  }
}

.vb-ora{
  padding: 60px 0;
  background-image: url('/bg-ra.png');
  background-size: cover;
  background-position: center center;
  position: relative;
  @media screen and (max-width: 991px) {
    padding: 30px 0;
  }
  &::before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.45);
  }
  h2{
    position: relative;
    z-index: 2;
    color: #FFF;
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    font-family: $j;
    font-weight: bold;
    @media screen and (max-width: 991px) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
  .ora-item{
    background-color: #FFFF;
    padding: 25px 35px;
    border-radius: 35px;
    position: relative;
    z-index: 2;
    min-height: 100%;
    @media screen and (max-width: 991px) {
      padding: 15px 25px;
    }
    .numeric{
      font-size: 65px;
      font-family: $j;
      font-weight: normal;
      position: absolute;
      top: 5px;
      right: 35px;
      color: #d1d3d4;
    }
    img{
      margin-bottom: 15px;
      @media screen and (max-width: 991px) {
        margin-bottom: 0px;
      }
    }
    h4{
      font-size: 24px;
      font-family: $j;
      margin-bottom: 10px;
      color: #1e1e1e;
      @media screen and (max-width: 991px) {
        font-size: 20px;
      }
    }
    ul{
      margin-bottom: 0;
      li{
        font-size: 16px;
        color: #1e1e1e;
        @media screen and (max-width: 991px) {
          font-size: 14px;
        }
      }
    }
    p{
      margin-bottom: 0;
      font-size: 15px;
      color: #1e1e1e;
      @media screen and (max-width: 991px) {
        font-size: 14px;
      }
    }
  }
  &.blue-version{
    img{
      filter: invert(41%) sepia(67%) saturate(1668%) hue-rotate(148deg) brightness(94%) contrast(93%);
    }
  }
}

.vb-graph{
  padding: 70px 0;
  @media screen and (max-width: 991px) {
    padding: 35px 0;
  }
  h2{
    font-weight: bold;
    font-family: $j;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
    color: #1e1e1e;
    @media screen and (max-width: 991px) {
      font-size: 18px;
      margin-bottom: 20px;
    }
    .reded{
      color: $pri;
    }
  }
}