header {
  background-color: $wt;
  position: relative;
  border-bottom: 3px solid $pri;
  z-index: 2;
  .toggle {
    display: none;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 767px) {
      display: block;
    }
    i {
      font-size: 40px !important;
      &:before {
        color: $pri;
      }
    }
  }
  .logo {
    margin: 45px 0 33px 0;
    @media screen and (max-width: 991px) {
      margin: 25px 0 20px 0;
    }
    @media screen and (max-width: 767px) {
      width: 250px;
    }
  }
  .main-menu {
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    @media screen and (max-width: 767px) {
      display: none;
    }
    li {
      display: inline-block;
      a {
        display: block;
        padding: 15px 40px;
        color: $t;
        font-size: 16px;
        text-decoration: none;
        transition: all 0.3s ease;
        @media screen and (max-width: 1199px) {
          padding: 15px 20px;
        }
        @media screen and (max-width: 991px) {
          padding: 15px 15px;
        }
        .plus {
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
          margin-top: -6px;
          position: relative;
          &:before,
          &:after {
            content: '';
            display: inline-block;
            height: 2px;
            width: 12px;
            background-color: $t;
            transition: all 0.3s ease;
          }
          &:after {
            position: absolute;
            left: 0;
            bottom: 10px;
            transform: rotate(90deg);
          }
        }
        &[aria-expanded='true'] {
          .plus {
            &:after {
              transform: rotate(0deg);
            }
          }
        }
        &:hover,
        &:focus {
          text-decoration: none;
          color: $pri;
          .plus {
            &:before,
            &:after {
              background-color: $pri;
            }
          }
        }
        &.nuxt-link-exact-active {
          color: $pri;
        }
      }
    }
  }
}

.dropdown-menu {
  .v-list {
    padding: 0;
    background-color: #fff !important;
    .v-list-item {
      color: $t !important;
      position: relative;
      &:not(.v-list-item--active):not(.v-list-item--disabled) {
        color: $t !important;
      }
      &.v-list-item--active {
        color: $pri !important;
        &::before {
          display: none;
        }
      }
      & + .v-list-item {
        &:before {
          opacity: 0.25 !important;
          display: block;
          position: absolute;
          top: 0px;
          left: 50%;
          transform: translateX(-50%);
          height: 1px;
          background-color: $t;
          width: 85%;
        }
      }
    }
  }
}

.header-new{
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #1e1e1e;
  .logo{
    width: 245px;
    float: left;
    margin: 24px 0 0 30px;
    @media screen and (max-width: 991px) {
      width: 200px;
      margin: 25px 0 20px 10px;
    }
  }
  .toggle {
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 991px) {
      display: block;
    }
    i {
      font-size: 40px !important;
      &:before {
        color: $pri;
      }
    }
  }
  .main-menu{
    float: right;
    @media screen and (max-width: 991px) {
      display: none;
    }
    li{
      display: inline-block;
      a{
        font-size: 14px;
        text-decoration: none;
        padding: 30px 15px;
        line-height: normal;
        display: block;
        color: #1e1e1e;
        .caret{
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid #1e1e1e;
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
        }
        &[aria-expanded="true"]{
          text-decoration: underline;
          position: relative;
          .caret{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) rotate(180deg);
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid #1e1e1e;
          }
        }
      }
      &:last-child{
        margin-left: 20px;
        a{
          background-color: $pri;
          color: #FFF;
          padding: 30px 45px;
        }
      }
    }
  }
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

.dropdown-menu-new{
  left: 0 !important;
  max-width: 100% !important;
  width: 100%;
  border-radius: 0 !important;
  background-color: #1e1e1e;
  padding: 10px 0;
  .v-list{
    .v-list-item{
      display: inline-block;
      vertical-align: middle;
      padding: 15px 0;
      text-align: center;
      margin: 10px 1%;
      width: 22.5%;
      border-radius: 30px;
      font-weight: bold;
      color: #FFF;
      border: 1px solid rgba($color: #FFF, $alpha: 0.7);
      &::before{
        display: none;
      }
    }
  }
}